{
  "openapi": "3.1.0",
  "info": {
    "title": "Integra Markets API",
    "version": "1.0.0",
    "description": "Commodity news sentiment, narratives and prediction-market divergence.\n\nAuthenticate with `Authorization: Bearer <api_key>`; keys look like `ik_live_...` and are created at https://dashboard.integramarkets.app/account/api\n\n**`sentiment_score` is signed, -1..+1, 0 = neutral** \u2014 that is the field to chart. `confidence` is a separate magnitude and is NOT directional. Before 2026-09-02 the API exposed the confidence value under the name `score`; bearish rows scored higher than bullish ones, so any cached values from before that date must be discarded."
  },
  "servers": [
    {
      "url": "https://api.integramarkets.app"
    }
  ],
  "paths": {
    "/v1/commodities": {
      "get": {
        "tags": [
          "sentiment-history"
        ],
        "summary": "List Commodities",
        "description": "Return distinct commodities that have at least one scored document.",
        "operationId": "list_commodities",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Commodities V1 Commodities Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sentiment/{commodity}/now": {
      "get": {
        "tags": [
          "sentiment-history"
        ],
        "summary": "Sentiment Now",
        "description": "Most recent observed sentiment for `commodity` plus a 24h rolling stat.",
        "operationId": "get_sentiment_now",
        "parameters": [
          {
            "name": "commodity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commodity"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Sentiment Now V1 Sentiment  Commodity  Now Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sentiment/{commodity}/history": {
      "get": {
        "tags": [
          "sentiment-history"
        ],
        "summary": "Sentiment History",
        "description": "Time-series of individual scored documents for `commodity`.",
        "operationId": "get_sentiment_history",
        "parameters": [
          {
            "name": "commodity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commodity"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 UTC timestamp",
              "title": "From"
            },
            "description": "ISO 8601 UTC timestamp"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 UTC timestamp",
              "title": "To"
            },
            "description": "ISO 8601 UTC timestamp"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 1000,
              "minimum": 1,
              "default": 100,
              "title": "Limit"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Sentiment History V1 Sentiment  Commodity  History Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sentiment/{commodity}/daily": {
      "get": {
        "tags": [
          "sentiment-history"
        ],
        "summary": "Sentiment Daily",
        "description": "Daily aggregates for the last N days, computed on-the-fly.",
        "operationId": "get_sentiment_daily",
        "parameters": [
          {
            "name": "commodity",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commodity"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 365,
              "minimum": 1,
              "default": 30,
              "title": "Days"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Sentiment Daily V1 Sentiment  Commodity  Daily Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/overlay": {
      "get": {
        "tags": [
          "sentiment-history"
        ],
        "summary": "Markets Overlay",
        "description": "Resolved prediction markets with linked news-sentiment context.\n\nFor the beta this returns the resolved markets enriched with the\naverage news sentiment over the market's lifetime. Full per-snapshot\noverlay arrives once the nightly aggregation job is wired up; this\nendpoint already returns the shape that job will populate.",
        "operationId": "get_market_overlay",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "kalshi",
              "title": "Provider"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "market status filter applied to raw_payload",
              "default": "settled",
              "title": "Status"
            },
            "description": "market status filter applied to raw_payload"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 500,
              "minimum": 1,
              "default": 50,
              "title": "Limit"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Markets Overlay V1 Markets Overlay Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/templates": {
      "get": {
        "tags": [
          "agent"
        ],
        "summary": "List Templates",
        "operationId": "list_agent_templates",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Templates V1 Agent Templates Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agent/ask": {
      "post": {
        "tags": [
          "agent"
        ],
        "summary": "Ask",
        "operationId": "ask_agent",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AskResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/topics": {
      "get": {
        "tags": [
          "divergence"
        ],
        "summary": "List Topics",
        "description": "All topics + categories Integra tracks for divergence.",
        "operationId": "list_topics",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response List Topics V1 Topics Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/divergence/{topic}": {
      "get": {
        "tags": [
          "divergence"
        ],
        "summary": "Divergence For Topic",
        "description": "News sentiment vs. prediction-market consensus for one topic.",
        "operationId": "get_divergence_for_topic",
        "parameters": [
          {
            "name": "topic",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Topic"
            }
          },
          {
            "name": "threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 0.5,
              "minimum": 0.05,
              "default": 0.2,
              "title": "Threshold"
            }
          },
          {
            "name": "lookback_hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 168,
              "minimum": 1,
              "default": 24,
              "title": "Lookback Hours"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Divergence For Topic V1 Markets Divergence  Topic  Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/markets/divergence": {
      "get": {
        "tags": [
          "divergence"
        ],
        "summary": "Divergence Batch",
        "description": "Batch divergence \u2014 useful for the dashboard / scanner views.",
        "operationId": "get_divergence",
        "parameters": [
          {
            "name": "topics",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Comma-separated topic keys (max 10)",
              "title": "Topics"
            },
            "description": "Comma-separated topic keys (max 10)"
          },
          {
            "name": "threshold",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "maximum": 0.5,
              "minimum": 0.05,
              "default": 0.2,
              "title": "Threshold"
            }
          },
          {
            "name": "lookback_hours",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 168,
              "minimum": 1,
              "default": 24,
              "title": "Lookback Hours"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Divergence Batch V1 Markets Divergence Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sentiment": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Sentiment",
        "operationId": "get_sentiment",
        "parameters": [
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Commodity ticker, e.g. 'brent'",
              "title": "Commodity"
            },
            "description": "Commodity ticker, e.g. 'brent'"
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "One of 24h, 7d, 30d, 90d",
              "default": "7d",
              "title": "Window"
            },
            "description": "One of 24h, 7d, 30d, 90d"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Sentiment V1 Sentiment Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/narratives": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Narratives",
        "description": "Emerging themes derived from clustering recent article headlines.\n\nBeta shape: groups articles by shared keyword stems in the headline and\nreturns the top clusters with average sentiment. A dedicated topic-model\nservice will replace this stem-clustering approach once we have training\ndata volume to justify it.",
        "operationId": "get_narratives",
        "parameters": [
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Commodity ticker",
              "title": "Commodity"
            },
            "description": "Commodity ticker"
          },
          {
            "name": "lookback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "One of 24h, 7d, 30d",
              "default": "7d",
              "title": "Lookback"
            },
            "description": "One of 24h, 7d, 30d"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Narratives V1 Narratives Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/brief": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Brief",
        "description": "Composite briefing: 7d + 30d sentiment, top narratives, key divergences.\n\nComposed from the same underlying data as the individual endpoints \u2014 one\nrequest instead of four so the MCP client can pull a full snapshot for\nClaude with minimum roundtrips.",
        "operationId": "get_brief",
        "parameters": [
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Commodity ticker",
              "title": "Commodity"
            },
            "description": "Commodity ticker"
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Brief V1 Brief Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/historical/analogs": {
      "get": {
        "tags": [
          "public-v1"
        ],
        "summary": "Historical Analogs",
        "operationId": "find_historical_analogs",
        "parameters": [
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "Commodity"
            }
          },
          {
            "name": "event",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Free-text description of the current setup",
              "title": "Event"
            },
            "description": "Free-text description of the current setup"
          },
          {
            "name": "n",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10,
              "minimum": 1,
              "default": 5,
              "title": "N"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Response Historical Analogs V1 Historical Analogs Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "/v1/export/sentiment": {
      "get": {
        "tags": [
          "export"
        ],
        "summary": "Export Sentiment",
        "description": "Bulk-export scored sentiment rows as CSV or XLSX.",
        "operationId": "export_sentiment",
        "parameters": [
          {
            "name": "commodity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Commodity or topic key, e.g. crude_oil",
              "title": "Commodity"
            },
            "description": "Commodity or topic key, e.g. crude_oil"
          },
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 UTC",
              "title": "From"
            },
            "description": "ISO 8601 UTC"
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "ISO 8601 UTC",
              "title": "To"
            },
            "description": "ISO 8601 UTC"
          },
          {
            "name": "format",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(csv|xlsx)$",
              "default": "csv",
              "title": "Format"
            }
          },
          {
            "name": "authorization",
            "in": "header",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Authorization"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AskRequest": {
        "properties": {
          "question": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Question",
            "description": "Free-form NL question."
          },
          "template": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template",
            "description": "Named template; one of interpret_today/trend_30d/divergence_check."
          },
          "variables": {
            "anyOf": [
              {
                "type": "object"
              },
              {
                "type": "null"
              }
            ],
            "title": "Variables",
            "description": "Template variables (overrides defaults)."
          },
          "commodity": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Commodity",
            "description": "Convenience: same as variables.commodity."
          },
          "max_tool_calls": {
            "type": "integer",
            "maximum": 12.0,
            "minimum": 1.0,
            "title": "Max Tool Calls",
            "default": 6
          }
        },
        "type": "object",
        "title": "AskRequest"
      },
      "AskResponse": {
        "properties": {
          "answer": {
            "type": "string",
            "title": "Answer"
          },
          "sources": {
            "items": {
              "type": "object"
            },
            "type": "array",
            "title": "Sources"
          },
          "tool_calls": {
            "items": {
              "type": "object"
            },
            "type": "array",
            "title": "Tool Calls"
          },
          "model": {
            "type": "string",
            "title": "Model"
          },
          "template_used": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "title": "Template Used"
          }
        },
        "type": "object",
        "required": [
          "answer",
          "sources",
          "tool_calls",
          "model"
        ],
        "title": "AskResponse"
      },
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": [
          "loc",
          "msg",
          "type"
        ],
        "title": "ValidationError"
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An Integra API key, e.g. ik_live_..."
      }
    }
  },
  "security": [
    {
      "ApiKeyAuth": []
    }
  ]
}